<a href="https://colab.research.google.com/github/Raheemabbasi/LAB-1/blob/main/raheem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Difference between assignment operator (=) and equality operator (==):

In [ ]:
x = 5  # Assignment operator
if x == 5:  # Equality operator
    print("x is equal to 5")

# 2. Explore all kinds/data types of variables:

In [ ]:
integer_var = 10  # Integer variable
float_var = 3.14  # Floating-point variable
string_var = "Hello, World!"  # String variable
bool_var = True  # Boolean variable

# 3. Rules for variable names:

In [ ]:
my_variable = 10
myVar = "Hello"
_this_is_variable = True

# 4. Declare and initialize multiple variables in a single line

In [ ]:
a, b, c = 1, 2, 3  # Single variable with multiple values
x = y = z = 10  # Multiple variables with single values
print(a, b, c)
print(x, y, z)

# 5. Perform arithmetic operations:

In [ ]:
a = 10
b = 5
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

x = 3.5
y = 2.0
print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division:", x / y)

# 6. String literals

In [ ]:
single_quote_string = 'This is a single quoted string'
double_quote_string = "This is a double quoted string"
single_quote_within_double = "He said, 'Hello!'"
double_quote_within_single = 'She said, "Hi!"'
print(single_quote_string)
print(double_quote_string)
print(single_quote_within_double)
print(double_quote_within_single)

# 7. Examples with print() function:

In [ ]:
name = "Alice"
age = 30
print("Hello,", name)  # Example of using the print() function to output a variable
print("Name:", name, "Age:", age)  # Example of outputting multiple variables with print()
print(f"My name is {name} and I am {age} years old")  # Example of using f-strings to format output
result = 10 * 5
print(f"The result of 10 * 5 is {result}")  # Example of using f-strings to manipulate variables in output

# Variable Shadowing:

x = 10

def my_function():
    x = 20  # This 'x' shadows the outer 'x'
    print("Inside function:", x)

my_function()
print("Outside function:", x)