<a href="https://colab.research.google.com/github/Raheemabbasi/LAB-1/blob/main/abdulraheem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Print at least 3 types of data type each with at least 5 examples.

INTEGER:

In [ ]:
a = 5
print(a)
print (type(a))

b = 7
print(b)
print (type(b))

c = 99
print(c)
print (type(c))

d = 24
print(d)
print (type(d))

e = 23
print(e)
print (type(e))

f = 19
print(f)
print (type(f))

FLOAT:

In [ ]:
a = -5.1
print(a)
print (type(a))

b = -7.3
print(b)
print (type(b))

c = 9.9
print(c)
print (type(c))

d = 2.4
print(d)
print (type(d))

e = 23.1
print(e)
print (type(e))

f = 19.9
print(f)
print (type(f))

COMPLEX:

In [ ]:
a = 5+2j
print(a)
print (type(a))

b = 7+3j
print(b)
print (type(b))

c = 99+1j
print(c)
print (type(c))

d = 24+7j
print(d)
print (type(d))

e = 23-6j
print(e)
print (type(e))

f = 19-9j
print(f)
print (type(f))

#	Write example of type conversion for each ( minimum 3)

In [ ]:
# Integer to float
int_to_float = float(2)
print(int_to_float)

int_to_float = float(3)
print(int_to_float)

int_to_float = float(1)
print(int_to_float)

# Float to integer
float_to_int = int(9.13)
print(float_to_int)

float_to_int = int(1.13)
print(float_to_int)

float_to_int = int(7.13)
print(float_to_int)

# Complex to integer
complex_to_integer = complex(7)
print(complex_to_integer)

complex_to_integer = complex(3)
print(complex_to_integer)

complex_to_integer = complex(9)
print(complex_to_integer)

# Assign multiple strings to single variable with your name , registration number, program , semester etc'

In [12]:
data = """
Name: Raheem Abbasi
Registration Number: B22FI207AI062
Program: Artificial Intelligence
Semester: Spring 2022

"""

print(data)

Name: Raheem Abbasi
Registration Number: B22FI207AI062
Program: Artificial Intelligence
Semester: Spring 2022

#Write Your country name and access the last 3 characters

In [ ]:
country= "Pakistan"
last_three_char= country[5:8]
print (last_three_char)

#Write code and observe using len() function it count space or not.

In [ ]:
#length of variable
name= "Raheem Abbasi"
print (len(name))

# Write code to access the 2nd and 3rd character of your name using negative indexes.

In [16]:
name_1="raheem"
name_2="abbasi"
second_char=name_1[-3]
third_char=name_2[-4]
print(second_char)
print(third_char)

e
b

#Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.

In [1]:
# Without indexes with format function
def format_without_index(index):
    try:
        args = (10, 20, 30, 40)
        formatted_string = "Arguments: {}, {}, {}, {}".format(*args)
        print(formatted_string)
    except IndexError:
        print("Error: Index out of range.")

# Example usage
format_without_index(2)  # Passing index number 2

Arguments: 10, 20, 30, 40

#Take input from user and  than display it like “John age is: age”

In [ ]:
def display_user_info():
    try:
        # Take input from the user
        name = input("Enter your name: ")
        age = input("Enter your age: ")

        # Display the input in the specified format
        print("{}'s age is: {}".format(name, age))
    except Exception as e:
        print("An error occurred:", e)

# Example usage
display_user_info()