<a href="https://colab.research.google.com/github/Raheemabbasi/Programming-for-AI-Lab/blob/main/Lab_4_and_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.	Access List Items:
•	Create a list of fruits.
•	Print the first and last items of the list.

In [ ]:
# prompt: 1.	Access List Items:
# •	Create a list of fruits.
# •	Print the first and last items of the list.

fruits = ['apple', 'banana', 'cherry', 'mango', 'orange']
first_fruit= fruits[0]
last_fruit = fruits[-1]

print(f"First fruit: {first_fruit}")
print(f"Last fruit: {last_fruit}")

#2. Change List Items:
•	Create a list of colors.
•	Change the second item in the list to "blue".

In [ ]:

colors = ["red", "green", "yellow", "purple", "black"]

# Change the second item to "blue"
colors[1] = "blue"

# Print the updated list
print(colors)

#3. Add List Items:
•	Create a list of numbers.
•	Add the number 10 at the end of the list.

In [ ]:

numbers = [1, 2, 3, 4, 5]

# Add 10 to the end of the list
numbers.append(10)

# Print the updated list
print(numbers)

#4.	Remove List Items:
•	Create a list of animals.
•	Remove the third item from the list.

In [8]:

animals = ['cat', 'dog', 'elephant', 'fox', 'giraffe']

# Remove the third item (elephant)
animals.pop(2)

# Print the updated list
print(animals)

['cat', 'dog', 'fox', 'giraffe']

#5.	Loop Lists:
•	Create a list of cities.
•	Loop through the list and print each city.

In [ ]:

cities = ['London', 'Paris', 'New York', 'Tokyo', 'Sydney']

# Loop through the list and print each city
for city in cities:
  print(city)

#6.	List Comprehension:
•	Create a list of numbers from 1 to 10.
•	Use list comprehension to create a new list containing the square of each number.

In [10]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use list comprehension to create a new list containing the square of each number
squared_numbers = [number ** 2 for number in numbers]

# Print the new list
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#7.	Sort Lists:
•	Create a list of names.
•	Sort the list alphabetically.

In [12]:

names = ['Raheem', 'Ali', 'Rehman', 'Shaheen', 'Dani']

# Sort the list alphabetically
names.sort()

# Print the sorted list
print(names)

['Ali', 'Dani', 'Raheem', 'Rehman', 'Shaheen']

#8.	Copy Lists:
•	Create a list of fruits.
•	Copy the list into a new list.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'mango', 'orange']

# Copy the list into a new list
fruits_copy = fruits.copy()

# Print the original list
print(f"Original list: {fruits}")

# Print the copied list
print(f"Copied list: {fruits_copy}")

#9.	Join Lists:
•	Create two lists of numbers.
•	Join the two lists into a single list.

In [14]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# Join the two lists into a single list
joined_list = list1 + list2

# Print the joined list
print(joined_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#10.	List Methods:
•	Create a list of fruits.
•	Use the append() method to add a new fruit to the list.
•	Use the pop() method to remove the last fruit from the list.

In [15]:
fruits = ['apple', 'banana', 'cherry', 'mango']

# Add a new fruit to the list using append()
fruits.append('orange')

# Remove the last fruit from the list using pop()
fruits.pop()

# Print the updated list
print(fruits)

['apple', 'banana', 'cherry', 'mango']

#11.	Combining Lists and List Comprehension:

•	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
•	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists
sum_list = [x + y for x, y in zip(list1, list2)]

# Print the new list
print(sum_list)

#12.	Filtering and Sorting:
Create a list of numbers.
•	Use list comprehension to create a new list containing only the even numbers from the original list.
•	Sort the new list in descending order.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use list comprehension to create a new list containing only the even numbers from the original list
even_numbers = [number for number in numbers if number % 2 == 0]

# Sort the new list in descending order
even_numbers.sort(reverse=True)

# Print the new list
print(even_numbers)

#13.	List Slicing and Reversing:
•	Create a list of numbers from 1 to 10.
•	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [ ]:

numbers = list(range(1, 11))

# Create a new list containing only the even numbers from the original list, in reverse order
even_numbers_reversed = numbers[::2][::-1]

# Print the new list
print(even_numbers_reversed)

#14.	Combining Lists and List Methods:
•	Create two lists, one containing even numbers and another containing odd numbers.
•	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [18]:
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]

# Combine the two lists into a single list, alternating between even and odd numbers
combined_list = []

while even_numbers and odd_numbers:
  combined_list.append(even_numbers.pop(0))
  combined_list.append(odd_numbers.pop(0))

# Add any remaining elements from either list
combined_list.extend(even_numbers)
combined_list.extend(odd_numbers)

# Print the combined list
print(combined_list)

[2, 1, 4, 3, 6, 5, 8, 7, 10, 9]