<a href="https://colab.research.google.com/github/Raheemabbasi/ProSensia1/blob/main/Week4_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Tuple Basics

In [1]:
people = ('Alice', 'Bob', 'Charlie')
print(people[1])  # Prints 'Bob'

Bob

2. Tuple and Max Function

In [2]:
def max_in_tuple(t):
    return max(t)

numbers = (4, 7, 1)
print(max_in_tuple(numbers))

7

3. Immutable Property

In [3]:
my_tuple = ('apple', 'banana', 'cherry')
try:
    my_tuple[1] = 'orange'
except TypeError as e:
    print(f"Error: {e}")

Error: 'tuple' object does not support item assignment

4. Tuple Operations

In [4]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

my_list.append(4)  # Works fine

try:
    my_tuple.append(4)  # Will raise an AttributeError because tuples don't support append
except AttributeError as e:
    print(f"Error: {e}")

Error: 'tuple' object has no attribute 'append'

5. Tuple Assignment

In [6]:
def swap_values(a, b):
    a, b = b, a
    return a, b

a = 5
b = 10
a, b = swap_values(a, b)
print(a, b)

10 5

6. Dictionary and Tuples

In [7]:
def dict_to_tuples(d):
    return list(d.items())

my_dict = {'x': 1, 'y': 2, 'z': 3}
print(dict_to_tuples(my_dict))

[('x', 1), ('y', 2), ('z', 3)]

7. Sorting Tuples

In [8]:
def sort_dict_by_values(d):
    return sorted([(v, k) for k, v in d.items()], reverse=True)

my_dict = {'a': 10, 'b': 1, 'c': 22}
print(sort_dict_by_values(my_dict))

[(22, 'c'), (10, 'a'), (1, 'b')]

8. Tuple Comparison

In [9]:
def compare_tuples(t1, t2):
    return [a == b for a, b in zip(t1, t2)]

tuple1 = (1, 2, 3)
tuple2 = (3, 2, 1)
print(compare_tuples(tuple1, tuple2))

[False, True, False]

9. Top N Frequent Words

In [12]:
from collections import Counter

def top_n_frequent_words(filename, N):
    try:
        with open(filename, 'r') as file:
            words = file.read().split()
        word_count = Counter(words)
        return word_count.most_common(N)
    except FileNotFoundError:
        print(f"Error: The file '{filename}' was not found.")
        return []
    except Exception as e:
        print(f"An error occurred: {e}")
        return []

# Example usage
top_words = top_n_frequent_words('romeo.txt', 3)
print(top_words)  # This will either print the top words or an error message

Error: The file 'romeo.txt' was not found.
[]

10. List Comprehension with Tuples

In [13]:
def reverse_sort_dict(d):
    return sorted([(v, k) for k, v in d.items()])

my_dict = {'a': 10, 'b': 1, 'c': 22}
print(reverse_sort_dict(my_dict))  # Prints [(1, 'b'), (10, 'a'), (22, 'c')]

[(1, 'b'), (10, 'a'), (22, 'c')]