<a href="https://colab.research.google.com/github/Raheemabbasi/Programming-for-AI-Lab/blob/main/Week2_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_greeting():
    print("Hello, World!")

print_greeting()

Hello, World!

In [ ]:
def max_value(s):
    return max(s)

result = max_value("Hello World")
print(result)

r

In [ ]:
def convert_to_float(n):
    return float(n)

result = convert_to_float(42)
print(result)

42.0

In [ ]:
def add_numbers(a, b):
    return a + b

result = add_numbers(10, 20)
print(result)

30

In [ ]:
def greet(language_code):
    greetings = {'en': "Hello", 'es': "Hola", 'fr': "Bonjour"}
    print(greetings.get(language_code, "Hello"))

greet('en')
greet('es')
greet('fr')

Hello
Hola
Bonjour

In [ ]:
def compute_pay(hours, rate):
    if hours > 40:
        overtime_hours = hours - 40
        overtime_pay = overtime_hours * rate * 1.5
        return (40 * rate) + overtime_pay
    else:
        return hours * rate

pay = compute_pay(45, 10)
print(pay)

475.0

In [ ]:
def is_integer(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

print(is_integer("123"))
print(is_integer("hello"))

True
False

In [ ]:
def print_lyrics():
    lyrics = """
    Twinkle, twinkle, little star,
    How I wonder what you are!
    Up above the world so high,
    Like a diamond in the sky.
    """
    print(lyrics)

print_lyrics()

    Twinkle, twinkle, little star,
    How I wonder what you are!
    Up above the world so high,
    Like a diamond in the sky.

In [ ]:
def multiply_numbers(a, b):
    return a * b

result = multiply_numbers(7, 8)
print(result)

56

In [ ]:
def calculate_expression():
    return 1 + 2 * float(3) / 4 - 5

result = calculate_expression()
print(result)

-2.5