<a href="https://colab.research.google.com/github/Raheemabbasi/ProSensia1/blob/main/Week3_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.String to Integer with Fallback

In [1]:
def string_to_integer_with_fallback(s, default):
    try:
        return int(s)
    except ValueError:
        return default

print(string_to_integer_with_fallback("123", 0))  # Output: 123
print(string_to_integer_with_fallback("abc", 0))  # Output: 0

123
0

2.Integer to String with Formatting

In [2]:
def integer_to_string_with_format(n, format_specifier):
    return format(n, format_specifier)

print(integer_to_string_with_format(123, '04d'))  # Output: 0123
print(integer_to_string_with_format(123, 'e'))    # Output: 1.230000e+02

0123
1.230000e+02

3.Float to Integer with Multiple Rounding Options

In [3]:
import math

def float_to_integer_with_rounding(f, strategy):
    if strategy == "up":
        return math.ceil(f)
    elif strategy == "down":
        return math.floor(f)
    elif strategy == "nearest":
        return round(f)
    else:
        raise ValueError("Invalid rounding strategy")

print(float_to_integer_with_rounding(123.456, "up"))       # Output: 124
print(float_to_integer_with_rounding(123.456, "down"))     # Output: 123
print(float_to_integer_with_rounding(123.456, "nearest"))  # Output: 123

124
123
123

4.List of Strings to List of Integers with Error Logging

In [4]:
def list_strings_to_integers_with_logging(strings):
    integers = []
    errors = []
    for s in strings:
        try:
            integers.append(int(s))
        except ValueError as e:
            errors.append(str(e))
    return integers, errors

ints, errs = list_strings_to_integers_with_logging(["123", "abc", "456"])
print(ints)  # Output: [123, 456]
print(errs)  # Output: ["invalid literal for int() with base 10: 'abc'"]

[123, 456]
["invalid literal for int() with base 10: 'abc'"]

5.Addition with Type Enforcement

In [5]:
class NotANumberError(Exception):
    pass

def add_numbers_with_type_enforcement(a, b):
    if not (isinstance(a, (int, float)) and isinstance(b, (int, float))):
        raise NotANumberError("Both inputs must be numbers")
    return a + b

print(add_numbers_with_type_enforcement(3, 5))  # Output: 8
# print(add_numbers_with_type_enforcement(3, "5"))  # Raises NotANumberError

8

6.Cumulative Subtraction with List Validation

In [6]:
def cumulative_subtraction(numbers):
    if not all(isinstance(n, (int, float)) for n in numbers):
        raise ValueError("All elements must be numbers")
    if len(numbers) < 2:
        raise ValueError("List must contain at least two elements")

    result = numbers[0]
    for n in numbers[1:]:
        result -= n
    return result

print(cumulative_subtraction([10, 3, 2]))  # Output: 5
# print(cumulative_subtraction([10]))  # Raises ValueError
# print(cumulative_subtraction([10, "2"]))  # Raises ValueError

5

7.Exponentiation Table

In [7]:
def exponentiation_table(base, exponent_range):
    table = []
    for i in range(1, exponent_range + 1):
        result = base ** i
        table.append(f"{base}^{i} = {result}")
    return table

print(exponentiation_table(2, 5))
# Output: ['2^1 = 2', '2^2 = 4', '2^3 = 8', '2^4 = 16', '2^5 = 32']

['2^1 = 2', '2^2 = 4', '2^3 = 8', '2^4 = 16', '2^5 = 32']

8.Safe Division with Custom Error Handling

In [8]:
class DivisionByZeroError(Exception):
    pass

def safe_division(a, b, precision):
    if b == 0:
        raise DivisionByZeroError("Cannot divide by zero")
    return round(a / b, precision)

print(safe_division(8, 2, 2))  # Output: 4.0
# print(safe_division(8, 0, 2))  # Raises DivisionByZeroError

4.0

9.Advanced String Split and Conditional Join

In [9]:
def split_and_join(s, split_delimiter, join_delimiter):
    parts = s.split(split_delimiter)
    filtered_parts = [part for part in parts if len(part) > 3]
    return join_delimiter.join(filtered_parts)

print(split_and_join("hello:world:python:code", ":", "-"))  # Output: hello-world-python

hello-world-python-code

10.Enhanced Palindrome Check with Character Frequency Analysis

In [10]:
import re
from collections import Counter

def enhanced_palindrome_check(s):
    cleaned = re.sub(r'[^A-Za-z0-9]', '', s).lower()
    is_palindrome = cleaned == cleaned[::-1]
    frequency = Counter(cleaned)
    return is_palindrome, frequency

print(enhanced_palindrome_check("A man, a plan, a canal, Panama"))

(True, Counter({'a': 10, 'n': 4, 'm': 2, 'p': 2, 'l': 2, 'c': 1}))