<a href="https://colab.research.google.com/github/Raheemabbasi/ProSensia1/blob/main/Week3_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Convert String to Integer

In [1]:
def string_to_integer(s):
    try:
        return int(s)
    except ValueError:
        return None

print(string_to_integer("123"))  # Output: 123
print(string_to_integer("abc"))  # Output: None

123
None

2.Convert Integer to String

In [2]:
def integer_to_string(n):
    return str(n)

print(integer_to_string(123))  # Output: "123"

123

3.Convert Float to Integer

In [3]:
def float_to_integer(f):
    return int(f)

print(float_to_integer(123.456))  # Output: 123

123

4.Convert List of Strings to List of Integers

In [4]:
def list_strings_to_integers(strings):
    integers = []
    for s in strings:
        try:
            integers.append(int(s))
        except ValueError:
            continue
    return integers

print(list_strings_to_integers(["123", "abc", "456"]))  # Output: [123, 456]

[123, 456]

5.Addition of Two Numbers

In [5]:

def add_two_numbers(a, b):
    return a + b

print(add_two_numbers(3, 5))  # Output: 8

8

6.Subtraction of Two Numbers

In [6]:
def subtract_two_numbers(a, b):
    return a - b

print(subtract_two_numbers(10, 4))  # Output: 6

6

7.Multiplication of Two Numbers

In [7]:
def multiply_two_numbers(a, b):
    return a * b

print(multiply_two_numbers(6, 7))  # Output: 42

42

8.Division of Two Numbers

In [8]:
def divide_two_numbers(a, b):
    if b == 0:
        return "Cannot divide by zero"
    return a / b

print(divide_two_numbers(8, 2))  # Output: 4.0
print(divide_two_numbers(8, 0))  # Output: Cannot divide by zero

4.0
Cannot divide by zero

9.Concatenate Two Strings

In [9]:
def concatenate_two_strings(str1, str2):
    return str1 + str2

print(concatenate_two_strings("Hello", "World"))  # Output: HelloWorld

HelloWorld

10.Reverse a String

In [10]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("Hello"))  # Output: olleH

olleH